[Unit]
Description=Team Fortress 2 - Source Dedicated Server

[Service]
Type=forking
User={{ srcds_user }}
Group={{ srcds_user }}

# Check update before starting in a tmux session
ExecStartPre=/bin/bash /opt/srcds_preexec.sh
ExecStart=/usr/bin/tmux -S {{ srcds_root_dir }}/tf2/tmux.sock new-session -d -n "tf2" -s "srcds" "{{ srcds_root_dir }}/tf2/srcds_run -debug -game tf +ip 0.0.0.0 -port 27015 -timeout 0 -sv_pure 1 +randommap"
ExecStop=/usr/bin/tmux -S {{ srcds_root_dir }}/tf2/tmux.sock send -t "srcds" "say Server shutting down in 5 seconds!" ENTER \
        && sleep 4 \
        && /usr/bin/tmux -S {{ srcds_root_dir }}/tf2/tmux.sock send -t "srcds" "quit" ENTER

# Restarting
KillSignal=SIGCONT
TimeoutStartSec=0
TimeoutStopSec=10
Restart=on-failure
RestartSec=10

# Security Settings
PrivateTmp=true
PrivateDevices=false
#MemoryLimit=750M
DevicePolicy=closed

[Install]
WantedBy=default.target
